<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
    <div class="text userHomeTop">
        Welcome: <%= currentUser.username%>
    </div>
    <div class="text ">
        <div class="userImg"><%=currentUser.img%></div>
        <div class="top5"> 
            
            <% for(let i = 0; i < currentUser.top5.length; i++){ %>
                <div>
                    <%= currentUser.top5[i]%>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input type="submit" value="Remove" class="btn-small red btn" />
                    </form>
                </div>
            <% } %>
        </div>
    </div>
    <div>
        <% for(let i = 0; i < currentUser.favorites.length; i++){ %>
            <div class="favoriteMovies">
                <%= currentUser.favorites[i]%>
                <form action="/?_method=DELETE" method="POST">
                    <input type="submit" value="Remove" class="btn-small red btn" />
                </form>
            </div>
        <% } %>
    </div>
    <a href="/movies">add to list</a>
</body>
</html>