<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="topLogo"  >
    <img class="topLogo" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/BC26D77B10047FCE6F1CC1AB419F700447E5C37D352BAD6433B2EF7C068187D0/scale?width=1080" alt="">
</div>
<div class="moviesContainer">
    <% for(let i = 0; i < movie.length; i++){ %>
        <div class="iconContainer">
                <img class="iconImg" src=<%= movie[i].icon%> alt="" onclick="location.href='/<%= movie[i].id;%>'">    
                <div class="text">
                    <h2><%= movie[i].title%></h2>
                    <h2>Favorites: <%= movie[i].favorite%></h2>
                    <% if (currentUser) { %>
                        <button class="btn btn-3 btn-sep icon-heart"  type="button">Favorite</button>
                        <form action="/<%= movie[i].id%>?_method=DELETE" method="POST">
                            <input type="submit" value="Remove?" class="btn-small red btn" />
                        </form>
                    <% } %> 
                </div>
        </div>
        
    <% } %>
</div>
</body>
</html>